.login-page h1{
  color: #1e293b;
  margin-bottom: 20px;
}

.login-page form{
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  margin-bottom: 40px;
}

.login-page input{
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.login-page button{
  width: 100%;
  padding: 14px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.login-page button:hover{
  background: #1d4ed8;
}
